.video-list{
    .pagination{
        position:absolute;
        right:16.7%;
        li {
            .page-link {
                color: #15b982;
            }
        }
        .active{
            span{
                color: #fff;
                background-color: #15b982;
                border-color:#15b982;
            }
        }

    }
}
.video-list-items{
    padding:0;
    width:100%;
    font-family: myFont, Microsoft YaHei, sans-serif;
    .video-list-item{
        list-style-type: none;
        width:100%;
        border-bottom: 1px solid #f2f2f2;
        .row{
            .item-front{
                padding:15px 0;
                font-size:20px;
                line-height: 30px;
                .select-like{
                    width: 100%;
                    display: block;
                    text-align: center;
                    .fa-heart{
                        color:red;
                    }
                }
            }
            .item-main{  
                padding:.2em 8px .2em 0;
                font-size:.8rem;
                line-height: 30px;
                a{
                    color:#3a3a3a;
                    font-family:myFont, Microsoft YaHei, sans-serif;
                    display:flex;
                    flex-direction:row;
                    .camera{

                        .fa-youtube-play{
                            color:#00adb5;
                        }
                    }
                    .video-name{
                        padding-left:.6em;
                        font-weight: 800;
                        .mobile-show-date{
                            display:none;
                            font-size:.5rem;
                            line-height:1em;
                            color:#71777c;
                            @media(max-width:767px){
                                display:block;
                            }
                        }
                    }
                }

                //.duihao{
                //    padding-left:8px;
                //    .fa-check-square{
                //        color:#23CC8C;
                //    }
                //}
            }
            .item-behind{
                padding:15px 0;
                font-size: 16px;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }
}
@media(max-width:767px){
    .un-watch{
        display: none;
    }
    .item-main-mobile-adjust{
        .camera{
            padding-left: .8em;
        }
    }
    .mobile-adjust{
        width:90%;
        margin:0 auto;
    }
}