.side{
    height:300px;
    background: #222226;
    
}
.padding-change{
    padding:0;
}
.video{
    max-width:2000px;
    .row{
        width:100%;
        margin:0;
    }
        background-color: #222226;
        padding:0;
        margin:0;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}
//点击屏幕暂停
.video-js.vjs-playing .vjs-tech {
    pointer-events: auto;
}
//button聚焦时outline消失
button:focus{
    outline:none;
}

.video-js .vjs-big-play-button {
    background-color: forestgreen;
}


.video-part{
    background-color: #222226;
    .change-lesson{
        position: absolute;
        background: #1e7e34;
        padding: 8px 15px;
        color: #fff;
        z-index: 2;
        font-size: 20px;
        width:50px;
        height:50px;
        border-radius: 5px;
        text-align: center;
        display:none;
    }
    .next{
        top:40%;
        right:0;
    }
    .previous{
        top:40%;
        left:0;
    }
    #my-player{
        width:100%;
        padding-bottom: 56.25%;
        height:0;
        object-fit: contain;
    }
    .video_mes{
        color:#fff;
        font-size: 1.1rem;
        line-height:2em;
        height:2em;
        a{
            color: #fff;
            float:right;
            height:100%;
            line-height:2em;
            margin-right: .5em;
        }
        a:hover{
            color:#0ea85a;
        }
    }
}
//进度条显示当前时间
.video-js .vjs-time-control{display:block;}
.video-js .vjs-remaining-time{display: none;}
//移动端点击屏幕播放/暂停取消
@media(max-width:767px){
    .video-js.vjs-playing .vjs-tech {
        pointer-events: none;
    }
}